.lead {
    font-size: 40px;
    margin-top: 20px;
    color: #fff;
}

img {
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

p {
    margin-top: 40px;
    font-weight: 400;
    letter-spacing: 1.5px;
}