<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<main>
    <section class="section section-lg section-hero section-shaped">
      <div class="shape shape-style-1 shape-primary"></div>
      <ul class="code-editor-options-menu" *ngFor="let rou of routinesToday">
        <app-routine-mobile [routine]="rou">
        </app-routine-mobile>
        
      </ul>
      <br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br>
    </section>
  
</main>
