@use '../../../calendar/variables' as *;
@import "~bootstrap-icons/font/bootstrap-icons.css";

.calendar-wrapper {
    max-width: 600px;
    min-width: 200px;
    margin: 8px;
}

.card-transparent{
    background:transparent;
    border:4px solid rgb(255, 255, 255) !important;
    width:15rem; 
    height:15rem;
}

.form-field{
    text-align:right;
}

.opinion-day{
    text-align:center; 
    color:white;  
    display: flex;
    align-items: center;
    justify-content: center;
}

