<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <!--
          <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
            <span class="alert-inner--text"><strong>{{ errorMessage }}</strong></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close(alert)">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          -->
          <ngb-alert class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
            <span class="alert-inner--text"><strong>{{ errorMessage }}</strong></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close(alert)">
              <!-- <span aria-hidden="true">&times;</span> -->
            </button>
          </ngb-alert>
          <div class="card bg-secondary shadow border-0">
            <!--
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Sign in with</small>
              </div>
              <div class="btn-wrapper text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/github.svg">
                  </span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/google.svg">
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            -->
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
              </div>
              <hr>
              <form [formGroup]="loginForm.baseForm" class="form">
                <mat-form-field class="full-width-input">
                  <input class="form-control" text="text" formControlName="mail" matInput placeholder="Email"
                    required />
                  <mat-error *ngIf="checkField('mail')">
                    {{ loginForm.errorMessage }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                  <input class="form-control" [type]="hide ? 'password' : 'text'" formControlName="password" matInput
                    placeholder="Contraseña" required />
                  <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>
                      {{ hide ? "visibility_off" : "visibility" }}
                    </mat-icon>
                  </button>
                  <mat-error *ngIf="checkField('password')">
                    {{ loginForm.errorMessage }}
                  </mat-error>
                </mat-form-field>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span>Recordarme</span>
                  </label>
                </div>
                <div class="text-center">
                  <button [disabled]="loginForm.baseForm.invalid" type="button"
                    class="btn btn-primary my-4 form-control" (click)="onLogin()">Iniciar sesión</button>
                </div>
              </form>
              <div class="form-group mb-3 text-center">
                <a routerLink="/register">¿Aún no tienes una cuenta? Regístrate</a>
              </div>
            </div>
          </div>
          <!-- 
          <div class="row mt-3">
            <div class="col-6">
              <a href="javascript:void(0)" class="text-light">
                <small>Forgot password?</small>
              </a>
            </div>
            <div class="col-6 text-right">
              <a href="javascript:void(0)" class="text-light">
                <small>Create new account</small>
              </a>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
  </section>
</main>
