<main>
 <div class="position-relative">
      <section>
        <video id="video" src="../../../assets/video/smoke3.mp4" autoplay muted loop></video>
        <h1>
          <span><b>C</b></span>
          <span><b>a</b></span>
          <span><b>l</b></span>
          <span><b>i</b></span>
          <span><b>s</b></span>
          <span><b>a</b></span>
          <span><b>p</b></span>
          <span><b>p</b></span>
      
          <h2>
            <span class="lead">Guía de calistenia, para organizar y planificar tus entrenamientos</span>
          </h2>
        </h1>
      </section>
  </div>

  <script type="text/javascript">
    document.querySelector('video').playbackRate = 0.5;
  </script>
</main>
