<div class="card-header bg-transparent justify-content-center border-0" 
        style="text-transform:uppercase; text-align: center; 
          font-weight:bolder; 
          font-size:17px; height:3.5rem;"
        [ngStyle]="{color: this.colorStyle}">
    {{ exercise.processExercise.nameExercise }}
</div>
<div class="card-body text-white">
  <p class="card-text" style="font-weight:bolder; text-shadow: 2px 2px 5px rgb(110, 109, 109); 
                          height:6rem;"
                        [ngStyle]="{color: this.colorStyle}">
    <i class="ni ni-user-run"></i> <i> 
      {{ exercise.repetitions }} repeticiones 
    </i> <br>
    <i class="bi bi-arrow-clockwise"> 
      {{ exercise.series }} series 
    </i> <br>
    <i class="bi bi-trophy"> 
    {{ exercise.processExercise.mainMuscle }}
    </i> <br>
    <a href="https://www.youtube.com/watch?v=aKHar4U2Iys" target="_blank" style="color:rgb(0, 30, 128)"> 
      <i class="bi bi-youtube"> 
        Video explicativo
      </i>
    </a><br>
    <i class="bi bi-info-circle"> 
      {{ exercise.processExercise.description }}
    </i> 
  </p>
</div>