<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<main>
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container container rounded">
        <div class="px-20">
          <div class="main-content">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="card" >
                  <div class="card-header">
                    <h5 class="title" style="font-size:200%;">Calendario de rutinas:</h5>
                  </div>
                  <div class="card-body">
                    <form>
                      <article class="sample-column calendar-wrapper">
                        <igx-calendar #calendar locale="ES" weekstart="1" id="calendar" (selected)="onSelection($event)">
                        </igx-calendar>
                      </article>           
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><br>
      </div>
      <div *ngIf="routinesSelected.length >0">
        <h2 class="display-3 mb-0"  style="color:rgb(255, 255, 255); font-size:20px; text-align:center; font-weight: bolder;">
          {{ dateSelected }}
        </h2>
      </div>
      <ul class="code-editor-options-menu" *ngFor="let rou of routinesSelected">
        <div class="container container rounded">
          <div [ngClass]="'content-transparent'">
            <div class="content">
              <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="currentRoutineIsUpdate(rou)">
                <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                <span class="alert-inner--text"><strong>Actualizado correctamente!</strong> Los ejercicios han sido actualizados de manera correcta!</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlertIsUpdated(rou)">
                  <span aria-hidden="true">×</span>
                </button>
              </div><br>
              <app-title-accordion  [routine]="rou"
                                    (openDetails)="setOpenDetail(rou, $event)">
              </app-title-accordion>
              <div *ngIf="getOpenDetail(rou)">
                <mat-tab-group dynamicHeight #tabGroup (selectedTabChange)="tabSelectedRoutine(rou,$event)">
                  <ul *ngFor="let day of daysRoutine(rou)">
                    <mat-tab label="Dia {{day}}"> <br>
                      <div class="row justify-content-center" >
                        <ul class="code-editor-options-menu" *ngFor="let dat of exercisesRou(rou,day)">
                          <div class="card border-light mb-10" [ngClass]="'card-transparent'">
                            <app-exercise-information-card [exercise]="dat">
                            </app-exercise-information-card>
                          </div>
                          <br>
                        </ul>
                      </div>
                    </mat-tab>
                  </ul>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </section>
  </div>
</main>
