<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="col-sm-9">
        <h2 class="display-3 mb-0"  style="color:rgb(255, 255, 255); font-size:30px; text-align:center; font-weight: bolder;">
          Elige una rutina según tu nivel:
        </h2>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-user-run"></i>
                  </div>
                  <h6 class="text-primary">Nivel Principiante</h6>
                  <p class="description mt-3">Para persona que inicien este sistema de entrenamiento. Rutinas con ejercicios simples donde trabajaras tus musculos principales.</p>
                  <a href="javascript:void(0)" (click)="getRoutinesWithLevel('1')" class="btn btn-primary mt-4">Ver Rutinas</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-diamond"></i>
                  </div>
                  <h6 class="text-success">Nivel Intermedio</h6>
                  <p class="description mt-3">Para persona con una experiencia en entranmiento de calistenia. Debes tener una base de fuerza de peso corporal para este nivel.</p>
                  <a href="javascript:void(0)" (click)="getRoutinesWithLevel('2')" class="btn btn-success mt-4">Ver Rutinas</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-hat-3"></i>
                  </div>
                  <h6 class="text-warning">Nivel Avanzado</h6>
                  <p class="description mt-3">Rutinas con ejercicos complejos, donde potenciaras tus grupos musculares. Para personas con gran experiencia, fuerza y control corporal.</p>
                  <a href="javascript:void(0)" (click)="getRoutinesWithLevel('3')" class="btn btn-warning mt-4">Ver Rutinas</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="wrapper">
    <ul class="code-editor-options-menu" *ngFor="let rou of routinesForLevel">
      <div class="content">
        <div class="container container rounded">
          <div class="section section-cp section-shaped">
            <div class="shape shape-default container rounded"></div>
            <p style=" color:rgb(255, 255, 255); font-size:30px; text-align:center; font-weight: bolder;">
              {{rou.nameRoutine}}
            </p>
            <div class="row row-grid justify-content-center">
              <ul class="code-editor-options-menu" *ngFor="let dat of rou.exercises">
                <div class="card text-black bg-dark font-weight-bold mb-2" style="width:17rem; height:15rem;">
                  <div class="card">
                    <div class="card-content">
                      <div class="card-header justify-content-center" style="text-transform:uppercase; height:5rem; text-align: center;">
                        {{dat.processExercise.nameExercise}}
                      </div>
                      <p>
                        * {{dat.series}} series <br>
                        * {{dat.repetitions}} repeticiones <br>
                        * Musculo Principal: {{dat.processExercise.mainMuscle}}<br>
                        * Descripción: {{dat.processExercise.description}} <br>
                        * Video: {{dat.processExercise.urlVideo}} <br>
                      </p>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
            <div style="text-transform:uppercase; height:5rem; text-align: center;">
              <a href="javascript:void(0)" (click)="initRoutine(rou, classic2)" class="btn btn-warning mt-4">Iniciar Rutina</a>
            </div>
            <ng-template #classic2 let-c="close" let-d="dismiss">
              <div class="modal-content bg-gradient-danger">
                <div class="modal-header">
                  <h6 class="modal-title" id="modal-title-notification"></h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="py-3 text-center">
                    <i class="ni ni-like-2 ni-3x"></i>
                    <h4 class="heading mt-4">Su rutina es genero correctamente!</h4>
                    <p>Usted a iniciado la rutina: {{rou.nameRoutine}}, puede acceder a ella desde Ver mis rutinas.</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-white" href="javascript:void(0)" (click)="c('Close click'); navigateMyRoutine()">Ver mis rutinas</button>
                  <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Cerrar</button>
                </div>
              </div>
            </ng-template> 
          </div>
        </div>
      </div>
    </ul>
  </section>
</main>
