<main>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="col-sm-9">
        <h2 class="display-3 mb-0"  style="color:rgb(255, 255, 255); font-size:30px; text-align:center; font-weight: bolder;">
          Elige una rutina según tu nivel:
        </h2>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-user-run"></i>
                  </div>
                  <h6 class="text-primary">Nivel Principiante</h6>
                  <p class="description mt-3">Para personas que inician este sistema de entrenamiento. Rutinas con ejercicios simples donde trabajaras tus músculos principales.</p>
                  <a href="javascript:void(0)" (click)="getRoutinesWithLevel('1','Rutinas de Nivel Principiante:')" class="btn btn-primary mt-4">Ver Rutinas</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-diamond"></i>
                  </div>
                  <h6 class="text-success">Nivel Intermedio</h6>
                  <p class="description mt-3">Para personas con una experiencia en entrenamiento de calistenia. Debes tener una base de fuerza y control de peso corporal para este nivel.</p>
                  <a href="javascript:void(0)" (click)="getRoutinesWithLevel('2', 'Rutinas de Nivel Intermedio:')" class="btn btn-success mt-4">Ver Rutinas</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="bi bi-award-fill"></i>
                  </div>
                  <h6 class="text-warning">Nivel Avanzado</h6>
                  <p class="description mt-3">Rutinas con ejercicios complejos, donde potenciaras tus grupos musculares. Para personas con gran experiencia en calistenia, fuerza y control corporal.</p>
                  <a href="javascript:void(0)" (click)="getRoutinesWithLevel('3', 'Rutinas de Nivel Avanzado:')" class="btn btn-warning mt-4">Ver Rutinas</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="wrapper">
    <div style="text-transform:uppercase; height:3.5rem; text-align: center; color:rgb(0, 4, 255);font-weight: bolder; font-size:30px;">
      {{levelRoutines}}
    </div>
    <ul class="code-editor-options-menu" *ngFor="let rou of routinesForLevel">
      <div class="container container rounded">
        <div [ngClass]="'content-transparent-avanzado'">
            <p style=" color:rgb(0, 11, 41); font-size:25px; text-align:center; font-weight: bolder;">
              {{rou.nameRoutine}}
            </p>
            <div class="row row-grid justify-content-center">
              <ul class="code-editor-options-menu" *ngFor="let dat of rou.exercises">
                <div class="card border-light mb-10" [ngClass]="'card-transparent'">
                    <div class="card-content">
                      <div class="card-header bg-transparent justify-content-center border-0" 
                            style="text-transform:uppercase; height:3.5rem; text-align: center; color:rgb(0, 0, 0);font-weight: bolder; font-size:17px;">
                        {{dat.processExercise.nameExercise}}
                      </div>
                      <div class="card-body text-align">
                        <p class="card-text" style="font-weight:bolder; font-size:15px; text-shadow: 2px 2px 5px rgb(110, 109, 109); height:6rem;">
                          <i class="ni ni-user-run"></i> <i> 
                            {{dat.repetitions}} repeticiones 
                          </i> <br>
                          <i class="bi bi-arrow-clockwise"> 
                            {{dat.series}} series 
                          </i> <br>
                          <i class="bi bi-trophy"> 
                          {{dat.processExercise.mainMuscle}}
                          </i> <br>
                          <a href="https://www.youtube.com/watch?v=aKHar4U2Iys" target="_blank" style="color:rgb(0, 30, 128)"> 
                            <i class="bi bi-youtube"> 
                              Video explicativo
                            </i>
                          </a><br>
                          <i class="bi bi-info-circle"> 
                            {{dat.processExercise.description}}
                          </i> 
                        </p>
                      </div>
                    </div> 
                </div><br>
              </ul>
            </div>
            <div class="row">
              <div class="col" style="text-align:center">
                <div ngbDropdown class="d-inline-block">
                  <h2 class="display-3 " style="color:rgb(9, 0, 104); font-size:15px; text-align:center;">
                    Ingrese la cantidad de semanas que quiere realizar la rutina:
                    <div class="form-group has-success mt-2" *ngIf="validationValueWeeks(rou)">
                      <input type="number" id="validationValueWeeks" [ngModel]="weeksRoutine.get(rou.id)" (change)="existValueWeeksRoutine($event, rou)" name="weeksRoutine" class="form-control" />
                    </div>
                    <div class="form-group has-danger"  *ngIf="!validationValueWeeks(rou)">
                      <input type="number"  placeholder="Ingrese la cantidad de semanas entre 1 y 20" [ngModel]="weeksRoutine.get(rou.id)" (change)="existValueWeeksRoutine($event, rou)" name="weeksRoutine" class="form-control">
                    </div>
                    Seleccione el dia de la semana que quiere realizar esta rutina: 
                    <button type="button" style="vertical-align: middle" class="btn btn-success mt-5.2" id="dropdownBasic1" ngbDropdownToggle> 
                      {{ getValuesdaySelectedInRoutine(rou) }} 
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                      <ul class="code-editor-options-menu">
                        <li *ngFor="let dia of getValues(weekdays)" (click)="selectValue(dia, rou)">
                          <button ngbDropdownItem>{{dia}}</button>
                        </li>
                      </ul>
                    </div>
                  </h2>
                </div>
              </div>
            </div> <br>
            <div style="text-transform:uppercase; height:5rem; text-align:center;">
              <button type="button" class="btn btn-primary" href="javascript:void(0)" (click)="initRoutine(rou, classic2)" [disabled]="!validationDayAndNameWeeks(rou)">
                Iniciar Rutina
              </button>
            </div>
            <ng-template #classic2 let-c="close" let-d="dismiss">
              <div class="modal-content bg-gradient-danger">
                <div class="modal-header">
                  <h6 class="modal-title" id="modal-title-notification"></h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="py-3 text-center">
                    <i class="ni ni-like-2 ni-3x"></i>
                    <h4 class="heading mt-4">Su rutina se genero correctamente!</h4>
                    <p>Usted a iniciado la rutina: {{rou.nameRoutine}}, puede acceder a ella desde Ver mis rutinas.</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-white" href="javascript:void(0)" (click)="c('Close click'); navigateMyRoutine()">Ver mis rutinas</button>
                  <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Cerrar</button>
                </div>
              </div>
            </ng-template> 
          </div>
        </div>
    </ul>
  </section>
  <br><br><br><br><br><br><br><br><br>
</main>
