<main class="profile-page">
  <section class="section section-lg section-hero section-shaped">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container">
      <app-spinner></app-spinner>
      <div class="col-sm-12">
        <h2 class="title display-3 mb-0">
          Editar Perfil
        </h2>
      </div>
      <div class="px-4">
        <div class="main-content">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <ngb-alert class="alert alert-dismissible fade show" type='success' role="alert"
                *ngIf="messageAlert != ''">
                <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                <span class="alert-inner--text"><strong>Actualizado correcto!</strong>{{ messageAlert }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close(alert)">
                </button>
              </ngb-alert>
              <ngb-alert class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
                <span class="alert-inner--text"><strong>{{ errorMessage }}</strong></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close(alert)">
                </button>
              </ngb-alert>
              <div class="card">
                <div class="card-header"></div>
                <div class="card-body">
                  <form [formGroup]="updateForm.baseForm" class="form">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Email:</label>
                          <input [(ngModel)]="user.mail" name="mail" id="mail" formControlName="mail" type="mail"
                            disabled="" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Nombre:</label>
                          <input [(ngModel)]="user.name" name="name" formControlName="name" type="text"
                            class="form-control">
                          <mat-error *ngIf="checkField('name')">
                            {{ updateForm.errorMessageName }}
                          </mat-error>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Password:</label>
                          <input [(ngModel)]="user.password" name="password" formControlName="password" type="password"
                            class="form-control">
                          <mat-error *ngIf="checkField('password')">
                            {{ updateForm.errorMessage }}
                          </mat-error>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Celular:</label>
                          <input [(ngModel)]="user.mobileNumber" name="mobileNumber" formControlName="mobileNumber"
                            type="text" class="form-control" placeholder="Agregar celular para recibir notificaciones">
                          <mat-error *ngIf="checkField('mobileNumber')">
                            {{ updateForm.errorMessageMobileNumber }}
                          </mat-error>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="text-center">
                    <button [disabled]="updateForm.baseForm.invalid" type="button" (click)="update()" class="btn btn-primary">Actualizar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
