footer {
    background-color: #413b3b !important;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

ul {
    position: relative;
    display: flex;
    z-index: 2;
}

ul li {
    position: relative;
    list-style: none;
    margin: 10px;
}

ul li a {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
}

ul li a:hover {
    transform:  translateY(-20px);
    border: 1px solid #ff5d94;
}

ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: skew(45deg) translateX(150px);
    transition: 0.5s;
}

ul li a:hover::before {
    transform: skew(45deg) translateX(-150px);
}

.license a {
    text-decoration: none;
    color: #fff;
}

.license a:hover {
    color: #ff5d94;
}

ul li a.facebook:hover {
    color: #1877f2;
}

ul li a.twitter:hover {
       color: #1DA1F2;
}

ul li a.instagram:hover {
    color: #9E37B8;
}