@import "~bootstrap-icons/font/bootstrap-icons.css";

.calendar-wrapper {
    max-width: 600px;
    min-width: 200px;
    margin: 8px;
}

.card-transparent{
    background:transparent;
    border:4px solid rgb(255, 255, 255) !important;
    width:15rem; 
    height:15rem;
}

.form-field{
    text-align:right;
}

.opinion-day{
    text-align:center; 
    color:white;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #fff !important; 
    font-size: 15px; 
    text-align: center; 
    font-weight: bolder;
}

.card {
    border: none;
}

.card-header {
    height: 90px;
    background: linear-gradient(315deg, #fbff00, #ffbc00) !important;
}

.btn-style{
    justify-content: center;
}

.content-transparent{
    background:transparent;
    background-color: rgba(255,255,255,0.2);
    font-weight: bolder;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: -40px;
}